@import url("global.css");

.medicamento-row {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.med-name-group {
  flex: 2;
}

.med-info-group {
  flex: 1;
}

.btn-remove-item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

#observacoes {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}
